MarkTestSmall20250627/solution-src/CanvasApps/src/cdcep_donorsearchnew_50133/pkgs/Wadl/CDCEP%3aDonorSearchOrganization-Optimized.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://power-apis-usgov001-public.azure-apihub.us/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="CDCEP:DonorSearchOrganization-Optimized" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="CDCEP: Donor Search Organization - Optimized" />
  <grammars>
    <jsonTypes targetNamespace="https://power-apis-usgov001-public.azure-apihub.us/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <number name="ManualTriggerInput_number_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <number name="ManualTriggerInput_number_1_def" />
      <number name="ManualTriggerInput_number_2_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <object name="ManualTriggerInput">
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
        <property name="number" type="number" />
        <property name="text_9" type="string" />
        <property name="number_1" type="number" />
        <property name="number_2" type="number" />
        <property name="text_1" type="string" />
      </object>
      <string name="ResponseActionOutput_Donors_def_items_def_fullname_def" />
      <integer name="ResponseActionOutput_Donors_def_items_def_donortype_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_organization_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_donortypetext_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_addressline1_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_city_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_state_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_donorid_def" />
      <integer name="ResponseActionOutput_Donors_def_items_def_statuscode_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_telephone1_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_emailaddress1_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_address1_postalcode_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_accounttypetext_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_scopetypetext_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_companyname_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_statuscodetext_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_domationsummaryid_def" />
      <string name="ResponseActionOutput_Donors_def_items_def_donationsummarytitle_def" />
      <object name="ResponseActionOutput_Donors_def_items_def">
        <property name="fullname" type="string" />
        <property name="donortype" type="integer" />
        <property name="organization" type="string" />
        <property name="donortypetext" type="string" />
        <property name="addressline1" type="string" />
        <property name="city" type="string" />
        <property name="state" type="string" />
        <property name="donorid" type="string" />
        <property name="statuscode" type="integer" />
        <property name="telephone1" type="string" />
        <property name="emailaddress1" type="string" />
        <property name="address1_postalcode" type="string" />
        <property name="accounttypetext" type="string" />
        <property name="scopetypetext" type="string" />
        <property name="companyname" type="string" />
        <property name="statuscodetext" type="string" />
        <property name="domationsummaryid" type="string" />
        <property name="donationsummarytitle" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Donors_def_items_def" name="ResponseActionOutput_Donors_def" />
      <object name="ResponseActionOutput">
        <property name="Donors" typeRef="ResponseActionOutput_Donors_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://power-apis-usgov001-public.azure-apihub.us/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text_2" path="/text_2" type="xs:string">
              <doc title="Address" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string">
              <doc title="City" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string">
              <doc title="PostalCode" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string">
              <doc title="FacilityId" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string">
              <doc title="FullName" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string">
              <doc title="Email" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string">
              <doc title="Phone" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="State" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string">
              <doc title="usstate" />
            </param>
            <param style="plain" name="number_1" path="/number_1" type="xs:double" required="true">
              <doc title="Scope" />
            </param>
            <param style="plain" name="number_2" path="/number_2" type="xs:double" required="true">
              <doc title="AccountType" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string">
              <doc title="ParentOrganization" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>