MarkTestSmall20250627/solution-src/CanvasApps/src/cdcep_volunteersearch_aca56/pkgs/Wadl/CDCEP%3aVolunteerSearch-Leads.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://power-apis-usgov001-public.azure-apihub.us/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="CDCEP:VolunteerSearch-Leads" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="CDCEP: Volunteer Search - Leads" />
  <grammars>
    <jsonTypes targetNamespace="https://power-apis-usgov001-public.azure-apihub.us/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <number name="ManualTriggerInput_number_def" />
      <string name="ManualTriggerInput_text_9_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <object name="ManualTriggerInput">
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="text" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
        <property name="number" type="number" />
        <property name="text_9" type="string" />
        <property name="text_1" type="string" />
        <property name="text_5" type="string" />
      </object>
      <string name="ResponseActionOutput_Leads_def_items_def_fullname_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_FirstName_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_LastName_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_Street_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_City_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_State_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_statuscode_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_WorkPhone_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_HomePhone_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_Email_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_MobilePhone_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_ZipCode_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_scopetypetext_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_Status_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_DateOfBirth_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_LeadId_def" />
      <string name="ResponseActionOutput_Leads_def_items_def_Facility_def" />
      <object name="ResponseActionOutput_Leads_def_items_def">
        <property name="fullname" type="string" />
        <property name="FirstName" type="string" />
        <property name="LastName" type="string" />
        <property name="Street" type="string" />
        <property name="City" type="string" />
        <property name="State" type="string" />
        <property name="statuscode" type="string" />
        <property name="WorkPhone" type="string" />
        <property name="HomePhone" type="string" />
        <property name="Email" type="string" />
        <property name="MobilePhone" type="string" />
        <property name="ZipCode" type="string" />
        <property name="scopetypetext" type="string" />
        <property name="Status" type="string" />
        <property name="DateOfBirth" type="string" />
        <property name="LeadId" type="string" />
        <property name="Facility" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Leads_def_items_def" name="ResponseActionOutput_Leads_def" />
      <object name="ResponseActionOutput">
        <property name="Leads" typeRef="ResponseActionOutput_Leads_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://power-apis-usgov001-public.azure-apihub.us/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text_2" path="/text_2" type="xs:string">
              <doc title="Address" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string">
              <doc title="City" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string">
              <doc title="PostalCode" />
            </param>
            <param style="plain" name="text" path="/text" type="xs:string">
              <doc title="FirstName" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string">
              <doc title="Email" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string">
              <doc title="Phone" />
            </param>
            <param style="plain" name="number" path="/number" type="xs:double" required="true">
              <doc title="State" />
            </param>
            <param style="plain" name="text_9" path="/text_9" type="xs:string">
              <doc title="usstate" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string">
              <doc title="FacilityId" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string">
              <doc title="LastName" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>